@import url('https://fonts.googleapis.com/css?family=DM+Sans');

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "footerContact footerFollow footerJoin";
    justify-content: center;
    align-content: center;
    text-align: center;

    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;

    line-height: 23px;
    letter-spacing: 0em;
}

.footerContact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". footerContactContent ."
    ". . .";
    grid-area: footerContact;
}

.footerContactContent { grid-area: footerContactContent; }

.footerFollow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". footerSocialContent ."
    ". . .";
    grid-area: footerFollow;
}

.footerSocialContent { grid-area: footerSocialContent; }

.footerJoin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: footerJoin;
}

.footer-join-content { grid-area: 2 / 2 / 3 / 3; }

.footerJoinContent { grid-area: 2 / 2 / 3 / 3; }

.footerHeaderText {
    font-weight: 500;
}