$small: 420px;
$bootstrap-collapse: 991px;
$bootstrap-inward: 768px;

$offwhite: #F9F9F7;

.program {
    &__header {
        img, p {
            width: 50%;
            @media (max-width:$bootstrap-collapse) {
                width: 100%;
            }
        }
    }

    &__info {
        padding-top: 5%;

        .row {
            @media (max-width:$bootstrap-collapse) {
                flex-direction: column;
            }
        }

        .col {
            @media (max-width:$bootstrap-collapse) {
                padding-top: 3%;
                padding-bottom: 3%;
            }
        }
    }
}

.mentorship {
    &__subheading {
        font-size: 20px;
        display: hidden;
    }
    div {
        height: 180px;
        @media (max-width:$bootstrap-collapse) {
            height: auto;
        }
    }

    .hide {
        visibility: hidden;
        @media (max-width:$bootstrap-collapse) {
            visibility: visible;
        }
    }
}

.techtreks {

    &__carousel {
        padding: 100px 0;
    }

    &__companies {
        h2 {
            color: #000;
        }

        .container {
            padding-top: 30px;
            margin-bottom: 5px;
        }

        .comp-imgs {
            padding: 30px 0;

            .row {
                text-align: center;
            }

            .sm-img {
                width: 150px;
                @media (max-width:$small) {
                    width: 35%;
                }
                @media (min-width: $small) and (max-width:$bootstrap-collapse) {
                    width: 110px;
                }
            }

            .md-img {
                width: 300px;
                @media (max-width:$small) {
                    width: 70%;
                }
                @media (min-width: $small) and (max-width:$bootstrap-collapse) {
                    width: 260px;
                }
            }

            .col {
                flex: 33%;
                padding: 20px 0;

                @media (max-width:$bootstrap-inward) {
                    flex: 100%;
                    padding: 50px 0;
                }
            }
        }

        background-color: $offwhite;
    }
}