.team-heading {
    padding: 35px 0;
}

.team {
    &__card {
        text-align: center;
        margin: 40px 0;
    }

    &__profile {
        width: 225px;
        height: 225px;
        border-radius: 15px;
    }

    &__name {
        margin: 20px 0 5px;
    }
    &__title {
        font-size: 18px;
    }
}

.alumni {
    &__card {
        text-align: center;
        margin: 25px 0;
    }

    &__profile {
        width: 170px;
        height: 170px;
        border-radius: 15px;
    }

    &__name {
        margin: 16px 0 4px;
    }
    &__title {
        font-size: 13px;
    }
}